@import url('https://fonts.googleapis.com/css?family=Arvo');
body{
    font-family: 'Arvo', serif;
    background-color: azure;
}

*{ padding:0; margin:0 }

html{
    font-size:62.5%;
}

main section {
    width:50%;
    margin:0 auto;
}

main section figure, main section article{
    width: 48%;
    vertical-align: top;
    display: inline-block;
}

#ch{
    width: 269px;
}

main section figure {
    position:relative;
    text-align: center;
}

header h1{
    text-align:center;
    text-transform:uppercase; 
    font-size: 2.8rem;
    margin-top: 5.0rem;
}

main{
    margin-top: 5.0rem;
}

.circle{
    position:absolute;
    width:5.0rem;
    height:5.0rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5); 
    transition: 0.8s all;
}

.circle:hover{
    background:rgba(255, 0, 0, 0.5)
}

#one { top:7.5rem; left:7.5rem; }
#two { right: 5rem; top: 17rem; }
#three { right: 8rem;  top: 23rem; }
#four { top: 22rem; left: 6rem; }
#five { bottom: 11rem; left: 9rem; }
#six { bottom: 3.8rem; right: 9rem;  }

.none{
    display:none;
}



/* voir la propriété text-transform et les différente valeur que l'on peut affecter. */
/* transition */
/* position: relative et absolute */
/* border et border-radius */

/* Comment linké un script javascript à notre page HTML*/
/* voir les variable javascript */